.project {
  margin-bottom: 15px;

  .card {
    &-title {
      h3 {
        @media screen and (max-width: 767px) {
          font-size: 1.25rem;
        }
      }
    }

    &-text {
      @media screen and (max-width: 767px) {
        font-size: 0.9rem;
      }
    }
  }

  &-detail {
    transition: all .5s ease-in;
    z-index: 10;
  
    &__hidden {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
    }
  
    &__visible {
      max-height: 300px;
      opacity: 1;
    }

    @media screen and (max-width: 767px) {
      font-size: 0.9rem;
    }

    &-item {
      font-weight: 500;
      span {
        font-weight: 400;
        float: right;

        @media screen and (max-width: 767px) {
          float: none;
        }
      }
    }
  }
}

.toggle-button {
  min-width: 120px;
  z-index: 20;

  @media screen and (max-width: 767px) {
    font-size: 0.9rem;
  }
}
