.header-container {
  margin-bottom: 56px;

  .navbar {
    @media screen and (max-width: 575px) {
      justify-content: center;
    }
  }

  .nav-item {
    color: $light;
    transition: color .3s ease-in;

    &:hover {
      color: $success;
      text-decoration: none;
    }

    &__active {
      font-weight: 500;
    }
  }
}
