.header-container {
  margin-bottom: 56px;

  .nav-item {
    color: $light;
    transition: color .3s ease-in;

    &:hover {
      color: $success;
      text-decoration: none;
    }

    &__active {
      font-weight: 500;
    }
  }
}
