.main {
  &-container {
    @include centered;

    height: $container-height;
    flex: 1 1 auto;

    .jumbotron {
      @include centered;
    }
  }

  &-title {
    color: $light;
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
      font-size: 3.5rem;
    }

    @media screen and (max-width: 991px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 600px) {
      font-size: 2rem;
    }
  }
}
