.main {
  &-container {
    @include centered;

    height: $container-height;
    flex: 1 1 auto;

    .jumbotron {
      @include centered;
    }
  }

  &-title {
    color: $light;
    margin-bottom: 20px;
  }
}
